.Container-container {
    width: 480px;
    height: 428px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2D2A37;
}

.Container-pic {
    height: 100px;
    width: 100px;
}

.Container-registering {
    display: flex;
    flex-direction: column;
}

.Container-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container-registering-item {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
